@using System
@using System.Reflection
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@inject global::Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure.IPageFactory PageFactory

@functions {
    public string Message { get; set; }

    public async Task OnGetAsync(string message)
    {
        Message2 = "This was a GET";

        Message = message ?? "Hello, World!";
    }

    public async Task<IActionResult> OnPost(string message)
    {
        Message = "This was a POST";

        Message2 = message ?? "Hello, World!";

        if (Message2 == "redirect")
        {
            return Redirect("http://google.com");
        }

        return View();
    }
}
<html>
    <head>
    </head>
    <body>
        <h1>Message from cshtml: @Message</h1>
        <h1>Message from codebehind: @Message2</h1>
        <h1>My class: @GetType().GetTypeInfo().FullName</h1>
        <h1>Base class: @GetType().GetTypeInfo().BaseType.FullName</h1>
        <form method="POST">
            <input type="text" name="message" />
            <input type="submit" value="Submit"/>
        </form>
        @Html.RouteLink("Reload it!", new { page = "/Index.razor" })
    </body>
</html>